@import "tailwindcss";

@theme {
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #181818;
  --color-grey-950: #121212;

  --color-primary: #78e75e;
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;               /* 세로 스크롤바 너비 */
    height: 10px;              /* 가로 스크롤바 높이 */
  }

  ::-webkit-scrollbar-track {
    background: transparent;    /* 배경은 투명하게 */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #424242;  /* VS Code 기본 회색 */
    border: 2px solid #1e1e1e;  /* 주변 배경색과 맞추면 여백 효과가 납니다 */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #4f4f4f;  /* 마우스 올리면 더 밝게 */
  }
}